.conf {
    width: 20px;
    height: 20px;
    margin: 10px 20px 0 20px;
    background-image: url(../img/seta.png);
    background-repeat: no-repeat;
    background-size: cover;
}

[data-menu="button"] {
    cursor: pointer;
    position: relative;
    border: 0;
    background-color: transparent;
    z-index: 300;
}

.header [data-menu="list"] {
    display: block;
    position: absolute;
    background-color: rgb(39, 36, 36);
    width:200px;
    height: 0;
    z-index: 200;
    top: 70px;
    right: 50px;
    padding: 20px 0 40px 0;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.493);
    transition: .6s;
    visibility: hidden;
    overflow: hidden;
   
}

#menu li  {
   padding: 0 20px 20px 30px;
    
}

#menu li a {
    color: #fff;
    
}

#nav.active  [data-menu="list"]{
    display: block;
    height: 90px;
    visibility: visible;
}

.icon-nav {
   margin-right: 10px;
   position: relative;
   top: 2.5px;
}

