/* Estilos Gerais */

body, p, h1, ul, li {
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
}

body {
    background-color: #f1f1f1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Estrutura */

.estrutura {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 80px;
    grid-template-areas: 
    "sidenav header"
    "sidenav content"
    ;
}


